@CHARSET "US-ASCII";
body,
html{
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}
.middle{
	vertical-align:middle;
}
#header{
	margin:0 auto;
	padding:0;
	height:302px;
	width:760px;
	position: relative; 
	
}
#header span#top-overlay{
	position:absolute;
	top:0;
	right:0;
	height:251px;
	width: 270px;
	background: rgba(0,0,0,.50);
	color:#fff;
}
#header span#bottom-overlay{
	position:absolute;
	bottom:0;
	right:0;
	height: 51px;
	width: 270px;
	background: rgba(212,54,38,1);
	color:#fff;
}
.arrow-up{
	position:absolute;
	bottom: 51px;
	right:175px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #d43626;
	font-size: 0;
	line-height: 0;
}
#wrap{
	width:760px;
	margin:0 auto;
	background:#232c2e;
}
div#navigation
{
background-color:#369fa6;
    margin:0 auto;
    padding:0;
    height: 50px;
}
#navigation ul{
	margin:0;
	padding:0;
	list-style:none;
}
#navigation li{
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	margin:0;
	padding:15px 15px;
	color:#232c2e;
	background:url('navdivder.jpg') left no-repeat;
	text-decoration: none;
}
div#left-column
{
	float:left;
	width:480px;
	background-color:#232c2e;
	padding:0 10px; 
	font-family:Helvetica; 
}
h2{
	font-family:"Pathway Gothic One";
	color:#e6e8d2;
}
h3{
	font-family:"Pathway Gothic One";
	color:#e6e8d2;
}
h4{
	font-family:"Pathway Gothic One";
	color:#e6e8d2;
}
p{
	font-family:Helvetica;
	color:#e6e8d2;
}
a{
	font-family:Helvetica;
	color:#232c2e;
	text-decoration: none;
}
.link-body{
	font-family:Helvetica;
	color:#369fa6;
}
div#right-column
{
	float:right;
	width:240px;
	background-color:#232c2e;
	padding:0 10px; 
	font-family:Helvetica;
}
div#top-column
{
	float:left;
	width:480px;
	background-color:#232c2e;
	padding:0 10px; 
	font-family:Helvetica; 
}
div#bottom-column
{
	float:right;
	width:240px;
	background-color:#232c2e;
	padding:0 10px; 
	font-family:Helvetica;
}

#footer {
	position:relative; 
	clear:both;
	background:#369fa6;
	width:760px;
	height:115px;
}

#footer ul{
	margin:0;
	padding:0;
	list-style:none;
}
#footer li{
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	margin:0;
	padding:15px 15px;
	color:#ffccff;
	background:url('navdivder.jpg') left no-repeat;
	text-decoration: none;
}
#powered{
	position: absolute;
	bottom:0;
	right:0;
	
}