@CHARSET "US-ASCII";
body,
html{
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}
.middle{
	vertical-align:middle;
}
#header{
	margin:0 auto;
	padding:0;
	height:302px;
	width:760px;
	position: relative; 
	
}
#header span#area-map{
	position: absolute;
	top:0;
	left: 10px;
	bottom:0;
	right:0;
	height: 25px;
	width: 100px;
	background: #e6e8d2;
	color: #d43636;
}
#header span#dorm_rooms{
	font-size: 32px;
	font-family: "Helvetica";
	position:absolute;
	top:0;
	right:0;
	height:251px;
	width: 270px;
	background: rgba(0,0,0,.5);
	color:#cccccc;
	line-height: 1.429;
	text-align: left;
}
#header span#dorm_room2{
  position: absolute; 
  font-size: 32px;
  font-family: "Helvetica";
  color: #ffffff;
  font-weight: bold;
  line-height: 0.625;
  text-align: left;
  right: 0;
  top: 0;
  height: 251px; 
  width: 270px;
}
.Book_This_Room_For: {
  font-size: 14px;
  font-family: "Helvetica";
  color: rgb( 255, 255, 255 );
  line-height: 1.429;
  text-align: left;
  position: absolute;
  left: 480px;
  top: 1004.979px;
  z-index: 273;
}

.Change_Currency {
  font-size: 12px;
  font-family: "Helvetica";
  color: rgb( 54, 159, 166 );
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  position: absolute;
  left: 885px;
  top: 346.682px;
  z-index: 426;
}

#header span#bottom-overlay{
	position:absolute;
	bottom:0;
	right:0;
	height: 51px;
	width: 270px;
	background: rgba(237,35,49,1);
	color:#fff;
}
.arrow-up{
	position:absolute;
	bottom: 51px;
	right:175px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #ed2331;
	font-size: 0;
	line-height: 0;
}
#wrap{
	width:760px;
	margin:0; /*auto will center the wrap*/
	background:#232c2e;
}
div#navigation
{
background-color:#369fa6;
    margin:0 auto;
    padding:0;
    height: 50px;
}
#navigation ul{
	margin:0;
	padding:0;
	list-style:none;
}
#navigation li{
	display:inline-block; /*changes ul to horiztontal*/
	text-align: center;
	vertical-align: middle;
	margin:0;
	padding:15px 15px;
	color:#232c2e;
	background:url('navdivder.jpg') left no-repeat;
	text-decoration: none;
	background-color:;
	
}
li a:link, li a:visited{
	text-decoration: none;
	color:#232c2e;
	font:Helvetica;
	font-weight: bold;
	font-size: 10pt; /*1.2em*/
	
}
li:hover{
	background-color: #e6e8d2;
}
div#media-navigation
{
background-color:#232c2e;
    margin:0 auto;
    padding:0;
    height: 50px;
}
#media-navigation ul{
	margin:0;
	padding:0;
	list-style:none;
}
#media-navigation li{
	display:inline-block; /*changes ul to horiztontal*/
	text-align: center;
	vertical-align: middle;
	margin:0;
	padding:15px 15px;
	color:#232c2e;
	background:url('navdivder.jpg') left no-repeat;
	text-decoration: none;
	background-color:;
	
}
#media-navigation li a:link, li a:visited{
	text-decoration: none;
	color:#e6e8d2;
	font:Helvetica;
	font-weight: bold;
	font-size: 10pt; /*1.2em*/
	
}
#media-navigation li:hover{
	background-color: #e6e8d2;
}
#media-container{
	padding:10px 10px;
}
div#left-column
{
	float:left;
	width:480px;
	background-color:#232c2e;
	padding:0 10px; 
	/*font-family:Helvetica; */
}
h2{
	font-family:"Pathway Gothic One";
	color:#e6e8d2;
}
h3{
	font-family:"Pathway Gothic One";
	color:#e6e8d2;
}
h4{
	font-family:"Pathway Gothic One";
	color:#e6e8d2;
}
p{
	font-family:"Helvetica";
	color:#cccccc;
	font-weight: normal;
	font-size: 16px;
}
.Dorm_Rooms_From: {
  font-size: 14px;
  font-family: "Helvetica";
  color: rgb( 255, 255, 255 );
  line-height: 1.429;
  text-align: left;
  -moz-transform: matrix( 1.13673316440315,0,0,1.13673316440315,0,0);
  -webkit-transform: matrix( 1.13673316440315,0,0,1.13673316440315,0,0);
  -ms-transform: matrix( 1.13673316440315,0,0,1.13673316440315,0,0);
  position: absolute;
  left: 787.497px;
  top: 178.979px;
  z-index: 422;
}

.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
  font-size: 16px;
  font-family: "Helvetica";
  color: rgb( 204, 204, 204 );
  text-align: left;
  position: absolute;
  left: 214px;
  top: 966.262px;
  width: 497px;
  height: 53px;
  z-index: 204;
}

/*a{
	font-family:Helvetica;
	color:#232c2e;
	text-decoration: none;
}*/
.link-body{
	font-family:Helvetica;
	color:#369fa6;
}
div#right-column
{
	float:right;
	width:240px;
	background-color:#232c2e;
	padding:0 10px; 
	font-family:Helvetica;
}
div#top-column
{
	float:left;
	width:246px;
	background-color:#e6e8d2;
	padding:10px 10px; 
	font-family:Helvetica; 
}
div#mid-container{
	background-color: #e6e8d2;
	width: 760px;
	height: 260px
}
div#banner1{
	float:left;
	width: 240px;
	background-color:#e6e8d2;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div#banner2{
	float:left;
	width: 240px;
	background-color:#e6e8d2;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div#banner3{
	float:left;
	width: 240px;
	background-color:#e6e8d2;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div#bottom-container{
	width: 760px;
	background-color:#e6e8d2;
	
}
div#bottom-banner1{
	float:left;
	width: 240px;
	background-color: #232c2e;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #e6e8d2;
	
}
div#bottom-banner2{
	float:left;
	width: 240px;
	background-color:#232c2e;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #e6e8d2;
}
div#bottom-banner3{
	float:left;
	width: 240px;
	background-color:#232c2e;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #e6e8d2;
}
div#bottom-container h3{
	color:#369fa6;
}
div#bottom-column
{
	float:none;
	width:740px;
	background-color:#232c2e;
	padding:0 10px; 
	font-family:Helvetica;
}

#footer {
	position:relative; 
	clear:both;
	background:#369fa6;
	width:760px;
	height:115px;
}

#footer ul{
	margin:0;
	padding:0;
	list-style:none;
}
#footer li{
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	margin:0;
	padding:15px 15px;
	color:#ffccff;
	background:url('navdivder.jpg') left no-repeat;
	text-decoration: none;
}
#footer li a:link, li a:visited{
	text-decoration: none;
	color:#ffffff;
	font:Helvetica;
	font-weight: bold;
	font-size: 8pt; /*1.2em*/
	
}
#powered{
	position: absolute;
	bottom:0;
	right:0;
	top:0;
	
}
.amenities-list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.amenities-list li{
	display:inline-block;
	float: left;
	width: 140px;
	margin-right:0;
	margin-bottom: 0;
	text-align: ;
	vertical-align: middle;
	padding:5px 5px;
	color:#e6e8d2;
	font-family:Helvetica;
	background:url('list-arrows.jpg') left no-repeat;
	text-decoration: none;
	/*background-image: url(list-arrows.jpg);*/
	font-size: 8pt;
}
.amenities-list li a:link, li a:visited{
	text-decoration: none;
	color:#ffffff;
	font-family:Helvetica;
	font-weight: bold;
	font-size: 8pt; /*1.2em*/
	
}